.man{
	margin:0px;
}
/*marign for top*/
.mts{
	margin-top:5px;
}
.mtm{
	margin-top: 10px;
}
.mtl{
	margin-top: 15px;
 }
.mtxl{
	margin-top: 20px;
}
.mtxxl{
	margin-top: 25px;
}
/*margin from left*/
.mls{
margin-left:5px;
}
.mlm{
margin-left:10px;
}
.mll{
margin-left:15px;
}
.mlxl{
margin-left:20px;
}
.mlxxl{
margin-left:25px;
}
/*padding for top */
.pts{
padding-top:5px;
}
.ptm{
padding-top:10px;
}
.ptl{
padding-top:15px;
}
.validat-text-clr{                   /*color of validation text message during validation*/
	color:#FF0000;
}
.box-boder{                           /* border color of box during validation failure */
 border: solid 1px #FF0000;
}
input[type="email"].myBlur {         /*make myBlur class for email field for achieve boder color of input field */
  border: solid 1px #FF0000;  
}  
input[type="password"].myBlur {      /*make myBlur class for email field for achieve boder color of input field */
  border: solid 1px #FF0000;  
}  
input[type="text"].myBlur {          /*make myBlur class for text field for achieve boder color of input field */
  border: solid 1px #FF0000;  
}
.left-m-bar{                            /*background of dashboard left menu bar*/
  background: #333;
}  
.line-color {   /*color code of line color*/
    border-top:1px solid #000000;
    margin-top:5px;
}
.text-size{          /*text size of text of heading*/
font-size:15px;
font-weight:bold;  
}
.row-border{                       /*to and bottom border of div */
  border-top:1px solid gray;
  border-bottom:1px solid gray;
  margin-top:5px;
}
.spcl-txt-color{
  color:red;
}
/*added for ui-grid directive*/
.grid {
  height: 250px;
}